.footer {
  background-color: #a6adb4;
  padding: 1rem 2rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.footer-title {
  margin: 0;
}

.info-footer {
  display: flex;
  align-items: center;
}

.footer-text {
  margin: 0 0.5rem;
}

/* MEDIA QUERY: para pantallas pequeñas */
@media (max-width: 576px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .info-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
}
